services:
  db_18:
    build:
      context: docker-db/
      dockerfile: Dockerfile.pgupgrade
    volumes:
      - dbdata_16:/var/lib/postgresql/16/data
      - dbdata_18:/var/lib/postgresql/18/data
    restart: always
    environment:
      - PGDATA=/var/lib/postgresql/18/data/pgdata
      - POSTGRES_PASSWORD
      - POSTGRES_DB=otohime
      - POSTGRES_DB_USER=otohime
      - POSTGRES_DB_PASSWORD
      # https://www.postgresql.org/about/news/postgresql-18-released-3142/
      - POSTGRES_INITDB_ARGS="--no-data-checksums"
    shm_size: 256mb
volumes:
  dbdata_16:
  dbdata_18: